{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body_title %}Выберите сервисную компанию{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div style="margin-top: 15%">
                <form action="{% url save_url %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <div class="text-right">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px; text-align: right">
                                Далее
                            </button>
                        {% endbuttons %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}