<dl class="row">
    <dt class="col-sm-5">БИК банка</dt>
    <dd class="col-sm-7">
        {% if branch.Bank_BIK %}
            {{ branch.Bank_BIK }}
        {% endif %}
    </dd>

    <dt class="col-sm-5">Реквизиты банка</dt>
    <dd class="col-sm-7">
        {% if branch.Bank_Details %}
            {{ branch.Bank_Details }}
        {% endif %}
    </dd>

    <dt class="col-sm-5">Расчетный счёт</dt>
    <dd class="col-sm-7">
        {% if branch.Bank_RaschetSchet %}
            {{ branch.Bank_RaschetSchet }}
        {% endif %}
    </dd>
</dl>