<!-- Modal -->
<div class="modal fade" id="openform_price" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ввести стоимость услуг</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="price_january" class="col-sm-2 control-label">Январь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_january" name="price_january" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_february" class="col-sm-2 control-label">Февраль</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_february" name="price_february" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_march" class="col-sm-2 control-label">Март</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_march" name="price_march" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_april" class="col-sm-2 control-label">Апрель</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_april" name="price_april" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_may" class="col-sm-2 control-label">Май</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_may" name="price_may" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_june" class="col-sm-2 control-label">Июнь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_june" name="price_june" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_july" class="col-sm-2 control-label">Июль</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_july" name="price_july" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_august" class="col-sm-2 control-label">Август</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_august" name="price_august" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_september" class="col-sm-2 control-label">Сентябрь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_september" name="price_september" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_october" class="col-sm-2 control-label">Октябрь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_october" name="price_october" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_november" class="col-sm-2 control-label">Ноябрь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_november" name="price_november" step="0.01" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="price_december" class="col-sm-2 control-label">Декабрь</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="price_december" name="price_december" step="0.01" type="number" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>