{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body_title %}Шаг №3 - Выбор <strong>контрагента</strong> из базы{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-warning">
                По указанным реквизитам, Вы можете только выбрать филиал контрагента!
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Наименование контрагента</td>
                                <td>Доп. информация</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list_branch %}
                                <tr id="obj_{{ item.id }}" onclick="location.href = '/client/branch/{{ item.id }}/';">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.Client.NameClient_full }} / {{ item.NameBranch }}</td>
                                    <td>{{ item.Client.INN }} / {{ item.KPP }} / </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}