{% extends 'base.html' %}

{% block content_title %}Ошибка{% endblock %}
{% block content_area %}Причины{% endblock %}
{% block content_title_small %}Следствия{% endblock %}

{% block content %}
    <!-- error area start -->
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h3>{{ title }}</h3>
                <p class="pt--20">{{ text }}</p>
                <a href="/">Вернуться к рабочему столу программы</a>
            </div>
        </div>
    </div>
    <!-- error area end -->
{% endblock %}